<web-app xmlns="https://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaae/web-app_4_0.xsd" version="4.0">
<servlet>
<servlet-name>HotelSearchServlet</servlet-name>
<servlet-class>com.yourcompany.servlets.HotelSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HotelSearchServlet</servlet-name>
<url-pattern>/hotelSearch</url-pattern>
</servlet-mapping>
</web-app>